<html>

<head>
    <meta charset="utf-8" />
    <title>Agregar Publicaciones</title>
</head>

<body>
    <div>
        <h1>Agregar Publicaciones</h1>
    </div>
    <div>
      <form action="http://localhost:3000/publicacion" method="post" enctype="multipart/form-data">
         Titulo: <input type="text" name="Titulo"><br>
         Descripcion: <input type="text" name="Descripcion"><br>
        <input type="file" name="Imagen"/></br>
        Vendedor: <input type="text" name="Vendedor"><br>
        Telefono: <input type="text" name="Telefono"><br>
        Seccion: <input type="text" name="Seccion"><br>
        Precio: <input type="text" name="Precio"><br>
        <input type="submit" value="Enviar">
    </div>
</body>

</html>
